@import "tailwindcss";


/* Custom Colors */
@theme{
    --font-jost: "Jost", sans-serif;
    --color-primary-black: #222222;
    --color-primary-white: #FFFFFF;
    --color-thirdColor: #B9A16B;
    --color-secondColor: #767676;
    --color-redColor: #D6001C;
    --color-bg-footer: #E4E4E4;
}

body{
    font-family: "Jost", sans-serif;
}

.list-item{
    @apply font-jost text-sm font-medium leading-6 text-primary-black relative after:content-[""] after:w-0 hover:after:w-[60%] after:h-0.5 after:bg-primary-black after:absolute after:bottom-0 after:left-0 after:duration-300 inline-block;
}

/* menu dropdown */
.u-list > .list-item{
    @apply relative
}

/* Banner Slider */
.u-list{
    @apply flex gap-11 ml-14;
}

#banner .slick-active div{
    @apply bg-primary-black
}
#banner .slick-dots .slick-active{
    @apply border-primary-black border-2 h-5 w-5 md:h-7.5 md:w-7.5 rounded-full flex justify-center items-center ;
}

#banner .slick-dots ul{
    @apply flex justify-center items-center ;
}
.List_Item > li{
    @apply font-jost text-sm md:text-base font-medium text-primary-black relative after:content-[""] after:w-0 hover:after:w-[60%] after:h-0.5 after:bg-primary-black after:absolute after:bottom-0 after:left-0 after:duration-300;
}

.list-item-2 > li{
    @apply font-jost text-sm font-normal leading-8.75 text-primary-black relative after:content-[""] after:w-0 hover:after:w-[30%] after:h-0.5 after:bg-primary-black after:absolute after:bottom-0 after:left-0 after:duration-300;
}